site_url: https://www.mechcarbide.com/
backend:
  name: github
  repo: mechcarbide/mechcarbide
  branch: main
  base_url: https://www.mechcarbide.com/
  auth_endpoint: /auth-github

media_folder: "static/uploads"
public_folder: "/uploads"

collections:
  - name: "blog"
    label: "Blog Posts"
    folder: "content/posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Publish Date", name: "date", widget: "datetime" }
      - { label: "Meta Description", name: "description", widget: "string", required: false, hint: "用于搜索引擎的简短描述，建议150-160字符以内。" }
      - { label: "Body", name: "body", widget: "markdown" }

      - label: "Tags"
        name: "tags"
        widget: "select"
        multiple: true
        options: ["Forestry", "Carbide", "Recycling", "Construction", "Snow Removal"]


  
  - name: "suppliers"
    label: "Suppliers"
    folder: "content/suppliers"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Meta Description", name: "description", widget: "string", required: false, hint: "用于搜索引擎的简短描述，建议150-160字符以内。" }
      - { label: "Body", name: "body", widget: "markdown" }

      - label: "Region"
        name: "regions"
        widget: "select"
        multiple: true
        options:
          - { label: "Canada", value: "canada" }
          - { label: "China", value: "china" }
          - { label: "Germany", value: "germany" }
          - { label: "Israel", value: "israel" }
          - { label: "Italy", value: "italy" }
          - { label: "Japan", value: "japan" }
          - { label: "Luxembourg", value: "luxembourg" }
          - { label: "Sweden", value: "sweden" }
          - { label: "United States", value: "united-states" }
          
          
          
          
          
          