{{- if (.Param "ShowBreadCrumbs") -}}
<div class="breadcrumbs">
  <!-- Home -->
  <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Home" }}</a>

  {{- $path := .RelPermalink }}

  <!-- Blog -->
  {{- if hasPrefix $path "/posts/" }}
    <span>›</span>
    <a href="/posts/">Blog</a>
    {{- with index .Params.tags 0 }}
      <span>›</span>
      <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
    {{- end }}
    <span>›</span>
    <span>{{ .Title }}</span>


  <!-- Blog Tags-->
  {{- else if in $path "/tags/" }}
  <span>›</span>
  <a href="/posts/">Blog</a>
  <span>›</span>
  <span>{{ .Title }}</span>


  <!-- Categories & Suppliers -->
  {{- else if or (hasPrefix $path "/categories/") (hasPrefix $path "/suppliers/") }}
    <span>›</span>
    <a href="/categories/">Supplier Categories</a>

    {{- with index .Params.categories 0 }}
      <span>›</span>
      <a href="/categories/{{ . | urlize }}/">{{ . | humanize | replaceRE `\band\b` "&" | title }}</a>
    {{- end }}

    <span>›</span>
    <span>{{ .Title }}</span>

  <!-- Regions -->
  {{- else if hasPrefix $path "/regions/" }}
    <span>›</span>
    <a href="/suppliers/">All Suppliers</a>
    <span>›</span>
    <span>{{ .Title }}</span>

  <!-- About -->
  {{- else if hasPrefix $path "/about/" }}
    <span>›</span>
    <a href="/about/">About</a>
    <span>›</span>
    <span>{{ .Title }}</span>

  <!-- 其他页面保底逻辑 -->
  {{- else }}
    <span>›</span>
    <span>{{ .Title }}</span>
  {{- end }}
</div>
{{- end -}}
