{{- if (.Param "ShowBreadCrumbs") -}}
<div class="breadcrumbs">
  <a href="{{ "" | absLangURL }}">{{ i18n "home" | default "Home" }}</a>

  {{- $path := .RelPermalink }}

  {{- if in $path "/posts/" }}
    <span>›</span>
    <a href="/posts/">Blog</a>
    {{- with index .Params.tags 0 }}
      <span>›</span>
      <a href="/tags/{{ . | urlize }}/">{{ . }}</a>
    {{- end }}
    <span>›</span>
    <span>{{ .Title }}</span>

  {{- else if in $path "/tags/" }}
    <span>›</span>
    <a href="/posts/">Blog</a>
    <span>›</span>
    <span>{{ .Title }}</span>

  {{- else if in $path "/suppliers/" }}
    <span>›</span>
    <a href="/suppliers/">Suppliers</a>
    {{- with index .Params.regions 0 }}
      <span>›</span>
      <a href="/regions/{{ . | urlize }}/">{{ . | title }}</a>
    {{- end }}
    <span>›</span>
    <span>{{ .Title }}</span>


  {{- else if in $path "/regions/" }}
    <span>›</span>
    <a href="/suppliers/">Suppliers</a>
    <span>›</span>
    <span>{{ .Title }}</span>

  {{- else }}
    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}
    {{- $scratch := newScratch }}
    {{- range $index, $element := split $lang_url "/" }}
      {{- $scratch.Add "path" (printf "%s/" $element )}}
      {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}
      {{- if (and ($bc_pg) (gt (len . ) 0))}}
        <span>›</span>
        <a href="{{ $bc_pg.Permalink }}">{{ $bc_pg.Name }}</a>
      {{- end }}
    {{- end }}
    <span>›</span>
    <span>{{ .Title }}</span>
  {{- end }}
</div>
{{- end -}}
