{{- /* ------------------------------------------------------------- */ -}}
{{- /* Unified Breadcrumb HTML + JSON-LD for Suppliers & Blog */ -}}
{{- /* ------------------------------------------------------------- */ -}}

{{- if (.Param "ShowBreadCrumbs") -}}

{{- /* 构建 breadcrumb 路径数组 */ -}}
{{- $bc_list := slice }}  

{{- /* 供应商页面逻辑 */ -}}
{{- if and .IsPage (strings.Contains (trimSuffix "/" .Permalink) "/suppliers/") }}
    {{- $bc_list = $bc_list | append (dict "name" "Home" "item" ("" | absLangURL)) }}
    {{- $bc_list = $bc_list | append (dict "name" "Suppliers" "item" (site.GetPage "/suppliers" | .Permalink)) }}
    {{- $bc_list = $bc_list | append (dict "name" .Name "item" .Permalink) }}

{{- else }}
    {{- /* 普通博客或页面逻辑 */ -}}
    {{- $url := replace .Parent.Permalink (printf "%s" site.Home.Permalink) "" }}
    {{- $lang_url := strings.TrimPrefix (printf "%s/" .Lang) $url -}}
    {{- $scratch := newScratch }}

    {{- $bc_list = $bc_list | append (dict "name" "Home" "item" ("" | absLangURL)) }}

    {{- range $index, $element := split $lang_url "/" }}
        {{- $scratch.Add "path" (printf "%s/" $element )}}
        {{- $bc_pg := site.GetPage ($scratch.Get "path") -}}
        {{- if $bc_pg }}
            {{- $bc_list = $bc_list | append (dict "name" $bc_pg.Name "item" $bc_pg.Permalink) }}
        {{- end }}
    {{- end }}
    {{- $bc_list = $bc_list | append (dict "name" .Name "item" .Permalink) }}
{{- end }}

{{- /* 前端 HTML 输出 */ -}}
<div class="breadcrumbs">
    {{- range $i, $bc := $bc_list }}
        {{- if $i }}&nbsp;»&nbsp;{{- end }}
        <a href="{{ $bc.item }}">{{ $bc.name }}</a>
    {{- end }}
</div>

{{- /* JSON-LD 输出 */ -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {{- range $index, $bc := $bc_list }}
      {{- if $index}},{{- end }}
      {
        "@type": "ListItem",
        "position": {{ add $index 1 }},
        "name": {{ $bc.name | jsonify }},
        "item": {{ $bc.item | jsonify }}
      }
    {{- end }}
  ]
}
</script>

{{- end }}
